## Bellabeat Case Study - Data Cleaning & Preparation
### Author - Kirti Nishad
### Objective:
Clean and prepare Fitbit smart device data to analyze user activity, sleep that can inform Bellabeat's marketing strategy.

In [1]:
import pandas as pd
import numpy as np

In [2]:
daily_activity = pd.read_csv("dailyActivity_merged.csv")
daily_steps = pd.read_csv("dailySteps_merged.csv")
sleep_day = pd.read_csv("sleepDay_merged.csv")
weight_log = pd.read_csv("weightLogInfo_merged.csv")

### Initial Data Inspection
We inspect the structure, columns and size of each dataset to understand what we are working with

In [3]:
daily_activity.head(2)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/16,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/16,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797

In [4]:
daily_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB

In [5]:
daily_steps.head()

           Id ActivityDay  StepTotal
0  1503960366   4/12/2016      13162
1  1503960366   4/13/2016      10735
2  1503960366   4/14/2016      10460
3  1503960366   4/15/2016       9762
4  1503960366   4/16/2016      12669

In [6]:
daily_steps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           940 non-null    int64
 1   ActivityDay  940 non-null    object
 2   StepTotal    940 non-null    int64
dtypes: int64(2), object(1)
memory usage: 22.2+ KB

In [7]:
sleep_day.head()

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,04/12/16 0:00,1,327,346
1,1503960366,4/13/2016 12:00:00 AM,2,384,407
2,1503960366,4/15/2016 12:00:00 AM,1,412,442
3,1503960366,4/16/2016 12:00:00 AM,2,340,367
4,1503960366,4/17/2016 12:00:00 AM,1,700,712

In [8]:
sleep_day.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  413 non-null    int64
 1   SleepDay            413 non-null    object
 2   TotalSleepRecords   413 non-null    int64
 3   TotalMinutesAsleep  413 non-null    int64
 4   TotalTimeInBed      413 non-null    int64
dtypes: int64(4), object(1)
memory usage: 16.3+ KB

In [9]:
weight_log.head()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
0,1503960366,05/02/16 23:59,52.599998,115.963146,22.0,22.650000,True,1.462230e+12
1,1503960366,05/03/16 23:59,52.599998,115.963146,NaN,22.650000,True,1.462320e+12
2,1927972279,4/13/2016 1:08:52 AM,133.500000,294.317120,NaN,47.540001,False,1.460510e+12
3,2873212765,4/21/2016 11:59:59 PM,56.700001,125.002104,NaN,21.450001,True,1.461280e+12
4,2873212765,05/12/16 23:59,57.299999,126.324875,NaN,21.690001,True,1.463100e+12

In [10]:
weight_log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              67 non-null     int64
 1   Date            67 non-null     object
 2   WeightKg        67 non-null     float64
 3   WeightPounds    67 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             67 non-null     float64
 6   IsManualReport  67 non-null     bool
 7   LogId           67 non-null     float64
dtypes: bool(1), float64(5), int64(1), object(1)
memory usage: 3.9+ KB

### Date Standardization
Dates come in different format across datasets.
We convert them into a standard datetime format for merging.

In [21]:
if "ActivityDate" in daily_activity.columns:
    daily_activity["ActivityDate"] = pd.to_datetime(daily_activity["ActivityDate"])
elif "date" in daily_activity.columns:
    daily_activity["date"] = pd.to_datetime(daily_activity["date"]).dt.normalize()

if "ActivityDate" in daily_steps.columns:
    daily_steps["ActivityDate"] = pd.to_datetime(daily_steps["ActivityDate"])
elif "date" in daily_steps.columns:
    daily_steps["date"] = pd.to_datetime(daily_steps["date"]).dt.normalize()

if "SleepDay" in sleep_day.columns:
    sleep_day["SleepDay"] = pd.to_datetime(sleep_day["SleepDay"])
elif "date" in sleep_day.columns:
    sleep_day["date"] = pd.to_datetime(sleep_day["date"]).dt.normalize()

if "Date" in weight_log.columns:
    weight_log["Date"] = pd.to_datetime(weight_log["Date"])
elif "date" in weight_log.columns:
    weight_log["date"] = pd.to_datetime(weight_log["date"]).dt.normalize()

### Removing Duplicate Records
Duplicate rows can distort averages and trends.

In [12]:
daily_activity = daily_activity.drop_duplicates()
daily_steps = daily_steps.drop_duplicates()
sleep_day = sleep_day.drop_duplicates()
weight_log = weight_log.drop_duplicates()

### Column Renaming
We standardize column names to improve readability and consistency.

In [13]:
daily_activity = daily_activity.rename(columns={
    "Id": "user_id",
    "ActivityDate": "date",
    "TotalSteps": "steps",
    "TotalDistance": "total_distance",
    "TrackerDistance": "tracker_distance",
    "LoggedActivitiesDistance": "logged_distance",
    "VeryActiveDistance": "very_active_dist",
    "ModeratelyActiveDistance": "moderate_active_dist",
    "LightActiveDistance": "light_active_dist",
    "SedentaryActiveDistance": "sedentary_dist",
    "VeryActiveMinutes": "very_active_min",
    "FairlyActiveMinutes": "fair_active_min",
    "LightlyActiveMinutes": "light_active_mint",
    "SedentaryMinutes": "sedentary_min",
    "Calories": "calories"
})

daily_steps = daily_steps.rename(columns={
    "Id": "user_id",
    "ActivityDay": "date",
    "StepTotal": "steps",
})

sleep_day = sleep_day.rename(columns={
    "Id": "user_id",
    "SleepDay": "date",
    "TotalSleepRecords": "sleep_records",
     "TotalMinutesAsleep": "mints_asleep",
    "TotalTimeInBed": "time_bond",
})

weight_log = weight_log.rename(columns={
    "Id": "user_id",
    "Date": "date",
    "WeightKg": "weight_kg",
    "WeightPounds": "weight_pounds",
    "Fat": "fat",
    "BMI": "BMI",
    "IsManualReport": "is_manual_report",
    "LogId": "log_id",
})

## Filterning Meaningful Data
Days with zero steps or zero sleep are not useful for behaviour analysis.

In [14]:
daily_activity = daily_activity[daily_activity["steps"] > 0]
sleep_day = sleep_day[sleep_day["mints_asleep"] > 0]

## Merge Activity and Sleep Data
We combine daily activity and sleep data to analyze relationships between movement and rest.

In [15]:
activity_sleep = pd.merge(
    daily_activity,
    sleep_day,
    on=["user_id", "date"],
    how = "inner"
)

## Feature Engineering
We create new columns that help answer business questions.

##### ➤ Day of Week

In [16]:
activity_sleep["dayofweek"] = activity_sleep["date"].dt.day_name()

##### ➤ Activity Level

In [17]:
def activity_level(steps):
    if steps < 5000:
        return "low"
    elif steps < 10000:
        return "Medium"
    else:
        return "High"

activity_sleep["activity_level"] = activity_sleep["steps"].apply(activity_level)

##### ➤ Sleep Hours

In [18]:
activity_sleep["sleephours"] = activity_sleep["mints_asleep"]/60

## Final Dataset Review
We confirm the dataset is clean and analysis-ready

In [19]:
activity_sleep.info()
activity_sleep.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   user_id               410 non-null    int64
 1   date                  410 non-null    datetime64[ns]
 2   steps                 410 non-null    int64
 3   total_distance        410 non-null    float64
 4   tracker_distance      410 non-null    float64
 5   logged_distance       410 non-null    float64
 6   very_active_dist      410 non-null    float64
 7   moderate_active_dist  410 non-null    float64
 8   light_active_dist     410 non-null    float64
 9   sedentary_dist        410 non-null    float64
 10  very_active_min       410 non-null    int64
 11  fair_active_min       410 non-null    int64
 12  light_active_mint     410 non-null    int64
 13  sedentary_min         410 non-null    int64
 14  calories              410 non-null    int64
 15  sleep_records         410 non-null    int64
 16  mints_asleep          410 non-null    int64
 17  time_bond             410 non-null    int64
 18  dayofweek             410 non-null    object
 19  activity_level        410 non-null    object
 20  sleephours            410 non-null    float64
dtypes: datetime64[ns](1), float64(8), int64(10), object(2)
memory usage: 67.4+ KB

,user_id,date,steps,total_distance,tracker_distance,logged_distance,very_active_dist,moderate_active_dist,light_active_dist,sedentary_dist,very_active_min,fair_active_min,light_active_mint,sedentary_min,calories,sleep_records,mints_asleep,time_bond,sleephours
count,4.100000e+02,410,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000,410.000000
mean,4.994963e+09,2016-04-26 11:38:55.609756160,8514.909756,6.012390,6.007366,0.108867,1.446220,0.743902,3.791122,0.000927,25.046341,17.924390,216.541463,712.100000,2389.295122,1.119512,419.173171,458.482927,6.986220
min,1.503960e+09,2016-04-12 00:00:00,17.000000,0.010000,0.010000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,2.000000,0.000000,257.000000,1.000000,58.000000,61.000000,0.966667
25%,3.977334e+09,2016-04-19 00:00:00,5188.750000,3.592500,3.592500,0.000000,0.000000,0.000000,2.540000,0.000000,0.000000,0.000000,158.000000,631.250000,1841.000000,1.000000,361.000000,403.750000,6.016667
50%,4.702922e+09,2016-04-27 00:00:00,8913.000000,6.270000,6.270000,0.000000,0.570000,0.420000,3.665000,0.000000,9.000000,11.000000,208.000000,717.000000,2207.000000,1.000000,432.500000,463.000000,7.208333
75%,6.962181e+09,2016-05-04 00:00:00,11370.250000,8.005000,7.950000,0.000000,2.360000,1.037500,4.917500,0.000000,38.000000,26.750000,263.000000,782.750000,2920.000000,1.000000,490.000000,526.000000,8.166667
max,8.792010e+09,2016-05-12 00:00:00,22770.000000,17.540001,17.540001,4.081692,12.540000,6.480000,9.480000,0.110000,210.000000,143.000000,518.000000,1265.000000,4900.000000,3.000000,796.000000,961.000000,13.266667
std,2.060863e+09,NaN,4157.375584,3.043946,3.039279,0.505523,1.992591,0.999806,1.720788,0.008685,36.218237,22.418593,86.705299,166.179395,758.435040,0.346636,118.635918,127.455140,1.977265

## Export Clean  Data
This dataset will be used for SQL analysis and Tableau dashboards

In [20]:
activity_sleep.to_csv("clean_activity_sleep.csv",index=False)